@font-face {
  font-family: "Nunito";
  src: url(assets/fonts/Nunito.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VarelaRound";
  src: url(assets/fonts/VarelaRound.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  color: #44384f;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
}

header {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  /* background-color: #1acbdf; */
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* ===== NAVIGATION ===== */

.navigation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.title {
  font-family: "VarelaRound", sans-serif;
  font-size: 32px;
  color: #fc389a;
  /* color: #022859; */
  margin: 0;
  cursor: default;
}

.navigation__list {
  display: flex;
  width: 890px;
  /* padding: 0; */
  list-style: none;
  font-size: 20px;
  justify-content: space-between;
}

.navigation__link {
  text-decoration: none;
  color: #1acbdf;
  transition: all 0.3s ease-out;
}

.navigation__link:hover {
  color: #fc389a;
}

/* ===== ABOUT ===== */

.about {
  padding-top: 20px;
}

.section-title {
  font-family: "VarelaRound", sans-serif;
  font-size: 24px;
  color: #ffffff;
  background-color: #1acbdf;
  padding-left: 20px;
}

.about-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 20px;
}

.about__avatar {
  border-radius: 50%;
}

.about__text {
  font-size: 22px;
}

.about__text--accent {
  color: #fc389a;
}

/* ===== SKILLS ===== */

.skills {
  padding-top: 20px;
}

.skills__list {
  padding: 0 0 0 20px;
  margin: 0 0 0 20px;
}

.skills__list li::marker {
  color: #fc389a;
}

/* ===== EDUCATION ===== */

.education {
  padding-top: 20px;
}

.education__text {
  padding: 0 0 0 20px;
  margin: 0;
}

/* ===== LANGUAGES ===== */

.languages {
  padding-top: 20px;
}

.languages__list {
  padding: 0 0 0 20px;
  margin: 0 0 0 20px;
}

.languages__list li::marker {
  color: #fc389a;
}

/* ===== PROJECTS ===== */

.projects {
  padding-top: 20px;
}

.projects-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.project__title {
  color: #fc389a;
}

.project__img {
  transition: transform 0.3s ease-out, filter 0.3s ease-out;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  filter: brightness(95%);
}

.project__img:hover {
  transform: scale(1.05);
  filter: brightness(100%);
}

/* ===== CODE EXAMPLE ===== */

.code-example {
  padding-top: 20px;
}

.code-block {
  /* width: 55%; */
  margin: 0;
  padding: 0 10px;
  border-radius: 8px;
  font-family: "Courier New", monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: #1e1e1e;
  color: #dcdcdc;
}

/* ===== CONTACTS ===== */

.contacts {
  padding-top: 20px;
  padding-bottom: 25px;
}

.contacts__list {
  padding: 0 0 0 20px;
  margin: 0;
  list-style: none;
}

.contacts__item {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.contacts__link {
  text-decoration: none;
  color: #44384f;
  transition: all 0.3s ease-out;
}

.contacts__link:hover {
  color: #fc389a;
}

.phone-icon {
  background-image: url("assets/icons/phone.png");
  width: 25px;
  height: 25px;
  display: block;
}

.email-icon {
  background-image: url("assets/icons/mail.png");
  width: 25px;
  height: 25px;
  display: block;
}

/* ===== FOOTER ===== */

.footer {
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.05);
}

.footer-list {
  margin: 0;
  padding: 15px 0 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__year {
  color: #fc389a;
  font-weight: 600;
}
